@import url("/static/fonts/SpaceMono-Regular.ttf");

html {
    height: 100%;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

#center-col {
    width: 60%;
    background: linear-gradient(#441a2e 10em, black 15em);
}

h1 {
    font-size: 60pt;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0em;
    margin-top: 0;
}

.card {
    background: rgb(15, 15, 15);
    margin: 0.5em;
    padding: 0.5em;
    font-size: 30pt;
}

a {
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #center-col {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #center-col {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #center-col {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #center-col {
        width: 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #center-col {
        width: 60%;
    }
}