@import url("/static/fonts/SpaceMono-Regular.ttf");

body {
    font-family: 'Space Mono', monospace;
    background: linear-gradient(#441a2e, black 10em);
    color: white;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: large;
}

.back-button {
    font-size: 20pt;
}

blockquote {
    border-left: 8px solid rgb(45, 45, 45);
    /* background: rgb(20, 20, 20); */
    padding-left: 1em;
}

p code {
    background-color: rgb(45, 45, 45);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-top: 0.25em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #center-col {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #center-col {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #center-col {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #center-col {
        width: 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #center-col {
        width: 60%;
    }
}