@font-face {
    font-family: SpaceMono;
    src: url("/static/fonts/SpaceMono-Regular.ttf");
}

.back-button {
    font-size: 20pt;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 8px;
    min-height: calc(100vh - 16px);
}

body h1:first-of-type {
    margin-bottom: 0;
}

body h3:first-of-type {
    margin-top: 0;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: large;
}

hr {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

a {
    color: white;
    font-weight: bold;
}

blockquote {
    border-left: 8px solid white;
    padding-left: 1em;
}

p code {
    background-color: rgb(45, 45, 45);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-top: 0.25em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 25pt;
    }

    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 15pt;
    }

    #center-col {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #center-col {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #center-col {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #center-col {
        width: 70%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #center-col {
        width: 50%;
    }
}